* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body {
    color: black;
    font-family: Helvetica, Arial, sans-serif;
}

/* HEADER / NAV BAR STYLES START */
header {
    padding: 20px 35px;
    background-color: #043461;
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
}

header h1 {
    font-weight: bold;
    margin: 0;
    font-size: 36px;
    color: white;
}

header a {
    text-decoration: none;
    color: white;
}

header nav {
    margin: 7px 0;
}

header nav ul {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;
    list-style: none;
}

header nav ul li a {
    padding: 10px 15px;
    font-weight: lighter;
    font-size: 1.55vw;
}
/* HEADER / NAVBAR STYLES END */

/* FOOTER STYLES START */
footer {
    background: #043461;
    padding: 40px 35px;
    display: flex;
    justify-content: space-between;
    flex: wrap;
    width: 100%;
}

footer h2 {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;
    color: white;
    font-size: 30px;
    margin: 0;
    padding: 10px 15px;
    font-size: 1.8vw;
    font-weight: bolder;
}

footer h3 {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;
    color: white;
    font-size: 30px;
    margin: 0;
    padding: 10px 15px;
    font-size: 1vw;
}

footer nav ul {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;
    list-style: none;
}

footer div {
    line-height: 1.5;
    text-align: right; 
}

footer a {
    color: white;
}
/* END FOOTER STYLES */


/* ABOUT SECTION STYLE */
.about {
    display: flex;
    flex-wrap: wrap;
}

.about img {
    width: 30%;
    height: 100%;
    border: 5px solid #043461;
    margin: 30px;
}

.about h2{ 
    margin: 30px 30px 30px 30px;
    padding: 10px;
    width: 45%;
    font-size: 1.8vw;
    font-weight: 100;
    background-color: #043461;
    color: white;
    background-size: 300px 300px;
}

